*{box-sizing: border-box;
padding: 0;
margin: 0;}
body{background-color: rgb(207, 211, 211);}
.heading{padding: 1rem 2rem;
background-color: whitesmoke;}
.logo{width: 4rem;}
.txtlogo{display: inline-block;font-size: 4rem;
margin-top: auto;}
.whitebox1{background-color: whitesmoke;width: 60rem;
    height: 4rem;
    margin: 4rem  auto 0.3rem;
    border-radius: 1rem 1rem 0 0 ;
     padding: 1rem 3rem;} 
.whitebox2{background-color: whitesmoke;
width: 60rem;
height: 40rem;
margin: 0 auto;
border-radius: 0 0 1rem 1rem;}
h2{background-color: aqua;display: inline-block;border-radius: 0.5rem;padding: 0.4rem 0.7rem;}
