*{box-sizing: border-box;
padding: 0;
margin: 0;}
body{background-color: rgb(207, 211, 211);}
.heading{padding: 1rem 2rem;
background-color: whitesmoke;}
.logo{width: 4rem;}
.txtlogo{display: inline-block;font-size: 4rem;
margin-top: auto;}
.whitebox1{background-color: whitesmoke;width: 60rem;
    height: 4rem;
    margin: 4rem  auto 0.3rem;
    border-radius: 1rem 1rem 0 0 ;
     padding: 1rem 3rem;} 
.whitebox2{background-color: whitesmoke;
width: 60rem;
height: 40rem;
margin: 0 auto;
border-radius: 0 0 1rem 1rem;
padding: 3rem;}
.inbox {background-color: aqua;display: inline-block;border-radius: 0.5rem;padding: 0.4rem 0.7rem;}
.headtask{font-size:x-large}
.editorial{color: white; background-color: aqua;
    border-radius: 2rem;padding: 0.4rem 0.7rem;}
.q1goals{color: white;background-color: rgb(116, 47, 122);
    border-radius: 2rem;padding: 0.4rem 0.7rem;}
.recruit{color: white;background-color: rgb(37, 126, 126);
    border-radius: 2rem;padding: 0.4rem 0.7rem}
.website{color: white;background-color: rgb(244, 124, 255);
    border-radius: 2rem;padding: 0.4rem 0.7rem;}
.mobile{color: white;background-color: rgb(255, 199, 79);
    border-radius: 2rem;padding: 0.4rem 0.7rem;}
.sales{color: white;background-color: rgb(177, 241, 0);
    border-radius: 2rem;padding: 0.4rem 0.7rem;}
    h2{margin: 1rem;}